Akshat Rastogi
E20CSE003

In [ ]:
import numpy as np
import pandas as pd
from scipy.io import arff
from sklearn.preprocessing import minmax_scale
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import median_absolute_error
from sklearn.metrics import r2_score
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = arff.loadarff('/content/drive/MyDrive/Behavior of the urban traffic.arff')
data = pd.DataFrame(data[0])

In [ ]:
data

         Hour  ...  Slowness_in_traffic_percent
0     b'7:00'  ...                          4.1
1     b'7:30'  ...                          6.6
2     b'8:00'  ...                          8.7
3     b'8:30'  ...                          9.2
4     b'9:00'  ...                         11.1
..        ...  ...                          ...
130  b'18:00'  ...                         17.8
131  b'18:30'  ...                         18.1
132  b'19:00'  ...                         17.7
133  b'19:30'  ...                         17.4
134  b'20:00'  ...                         12.1

[135 rows x 18 columns]

In [ ]:
data['Hour'].replace([b'7:00',b'7:30',b'8:00',b'8:30',b'9:00',b'9:30',b'10:00',b'10:30',b'11:00'],'morning',inplace=True)

data['Hour'].replace([b'11:30',b'12:00',b'12:30',b'13:00'],'noon',inplace=True)

data['Hour'].replace([b'13:30',b'14:00',b'14:30',b'15:00',b'15:30',b'16:00'],'afternoon',inplace=True)

data['Hour'].replace([b'16:30',b'17:00',b'17:30',b'18:00'],'evening',inplace=True)

data['Hour'].replace([b'18:30',b'19:00',b'19:30',b'20:00'],'night',inplace=True)

In [ ]:
data

        Hour  ...  Slowness_in_traffic_percent
0    morning  ...                          4.1
1    morning  ...                          6.6
2    morning  ...                          8.7
3    morning  ...                          9.2
4    morning  ...                         11.1
..       ...  ...                          ...
130  evening  ...                         17.8
131    night  ...                         18.1
132    night  ...                         17.7
133    night  ...                         17.4
134    night  ...                         12.1

[135 rows x 18 columns]

In [ ]:
X = data.iloc[:,:-1]

In [ ]:
X

        Hour  Immobilized_bus  ...  Semaphore_off  Intermittent_Semaphore
0    morning              0.0  ...            0.0                     0.0
1    morning              0.0  ...            0.0                     0.0
2    morning              0.0  ...            0.0                     0.0
3    morning              0.0  ...            0.0                     0.0
4    morning              0.0  ...            0.0                     0.0
..       ...              ...  ...            ...                     ...
130  evening              1.0  ...            0.0                     0.0
131    night              0.0  ...            0.0                     0.0
132    night              1.0  ...            0.0                     0.0
133    night              0.0  ...            1.0                     0.0
134    night              0.0  ...            0.0                     0.0

[135 rows x 17 columns]

In [ ]:
Y = data.iloc[:,-1:]

In [ ]:
Y

     Slowness_in_traffic_percent
0                            4.1
1                            6.6
2                            8.7
3                            9.2
4                           11.1
..                           ...
130                         17.8
131                         18.1
132                         17.7
133                         17.4
134                         12.1

[135 rows x 1 columns]

3. Normalisation

In [ ]:
X = pd.get_dummies(X,columns = ['Hour'])

In [ ]:
cols=X.columns

for i in cols:
  X[i]=minmax_scale(X[i])

In [ ]:
X

     Immobilized_bus  Broken_Truck  ...  Hour_night  Hour_noon
0               0.00           0.0  ...         0.0        0.0
1               0.00           0.0  ...         0.0        0.0
2               0.00           0.0  ...         0.0        0.0
3               0.00           0.0  ...         0.0        0.0
4               0.00           0.0  ...         0.0        0.0
..               ...           ...  ...         ...        ...
130             0.25           0.0  ...         0.0        0.0
131             0.00           0.0  ...         1.0        0.0
132             0.25           0.0  ...         1.0        0.0
133             0.00           0.8  ...         1.0        0.0
134             0.00           0.0  ...         1.0        0.0

[135 rows x 21 columns]

# 4. Data Splitting:

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=0.8, shuffle=False)

# 5. Regression Models:

## Linear Regression

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(x_train, y_train)

LinearRegression()

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
mse = mean_squared_error(y_test,y_pred)
print(f"\nMSE: {mse}")

MSE: 13.362792426215277

## Polynomial Regression

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=0.8, shuffle=False)

In [ ]:
poly = PolynomialFeatures(degree = 2)

In [ ]:
X_poly = poly.fit_transform(x_train)

In [ ]:
poly.fit(x_train,y_train)

PolynomialFeatures()

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_poly, y_train)

LinearRegression()

In [ ]:
y_pred = model.predict(poly.fit_transform(x_test))

# 5. Testing:

In [ ]:
print(f"\nMSE: {mse}")
rmse = mean_squared_error(y_test,y_pred)
print(f"\nRMSE: {rmse}")
mea = mean_absolute_error(y_test,y_pred)
print(f"\nMEA: {mea}")
mdea = median_absolute_error(y_test,y_pred)
print(f"\nMDEA: {mdea}")
r2 = r2_score(y_test,y_pred)
print(f"\nR2 Square: {r2}")

MSE: 13.362792426215277

RMSE: 5.11960477757438e+25

MEA: 3035460438951.0854

MDEA: 532987194167.025

R2 Square: -3.3640564566838917e+24

## train-test ratio 70:30, 80:20, 90:10

# 7. Regression Evaluation Metrics:

In [ ]:
test = [0.3,0.2,0.1]

for i in test:
  x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=i, shuffle=False)
  poly = PolynomialFeatures(degree = 2)
  X_poly = poly.fit_transform(x_train)
  poly.fit(x_train,y_train)
  model = LinearRegression()
  model.fit(X_poly, y_train)
  y_pred = model.predict(poly.fit_transform(x_test))

  print(f"\nMSE: {mse}")
  rmse = mean_squared_error(y_test,y_pred)
  print(f"\nRMSE: {rmse}")
  mea = mean_absolute_error(y_test,y_pred)
  print(f"\nMEA: {mea}")
  mdea = median_absolute_error(y_test,y_pred)
  print(f"\nMDEA: {mdea}")
  r2 = r2_score(y_test,y_pred)
  print(f"\nR2 Square: {r2}")

  print("\n\n")

MSE: 13.362792426215277

RMSE: 30.633963275051592

MEA: 4.610567135630461

MDEA: 4.483617964295597

R2 Square: -0.384123041726425




MSE: 13.362792426215277

RMSE: 27.634388492069522

MEA: 4.311561522103568

MDEA: 3.956307118479173

R2 Square: -0.34437369386347205




MSE: 13.362792426215277

RMSE: 36.85451892364504

MEA: 4.622913318332799

MDEA: 3.4096405228758186

R2 Square: -0.8861803271648836

# 8. Playing with the Model:

## Shuffling of training samples

In [ ]:
test = [0.8,0.3,0.2,0.1]

for i in test:
  x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=i, shuffle=True)
  poly = PolynomialFeatures(degree = 2)
  X_poly = poly.fit_transform(x_train)
  poly.fit(x_train,y_train)
  model = LinearRegression()
  model.fit(X_poly, y_train)
  y_pred = model.predict(poly.fit_transform(x_test))

  print(f"\nMSE: {mse}")
  rmse = mean_squared_error(y_test,y_pred)
  print(f"\nRMSE: {rmse}")
  mea = mean_absolute_error(y_test,y_pred)
  print(f"\nMEA: {mea}")
  mdea = median_absolute_error(y_test,y_pred)
  print(f"\nMDEA: {mdea}")
  r2 = r2_score(y_test,y_pred)
  print(f"\nR2 Square: {r2}")

  print("\n\n")

MSE: 13.362792426215277

RMSE: 1.3347813220978228e+27

MEA: 18059402864487.805

MDEA: 43.6984375

R2 Square: -5.577055161027912e+25




MSE: 13.362792426215277

RMSE: 31.43407516495905

MEA: 4.081454457458781

MDEA: 3.0193939858787147

R2 Square: -0.6027917014432593




MSE: 13.362792426215277

RMSE: 24.351170950465605

MEA: 3.664021879172018

MDEA: 3.0833333333333273

R2 Square: -0.5403137751266145




MSE: 13.362792426215277

RMSE: 14.327149182107782

MEA: 2.9993637243249025

MDEA: 2.6

R2 Square: 0.2515047161106412

## Degree of polynomials

In [ ]:
test = [0.8,0.3,0.2,0.1]

for i in test:
  x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=i, shuffle=False)
  poly = PolynomialFeatures(degree = 4)
  X_poly = poly.fit_transform(x_train)
  poly.fit(x_train,y_train)
  model = LinearRegression()
  model.fit(X_poly, y_train)
  y_pred = model.predict(poly.fit_transform(x_test))

  print(f"\nMSE: {mse}")
  rmse = mean_squared_error(y_test,y_pred)
  print(f"\nRMSE: {rmse}")
  mea = mean_absolute_error(y_test,y_pred)
  print(f"\nMEA: {mea}")
  mdea = median_absolute_error(y_test,y_pred)
  print(f"\nMDEA: {mdea}")
  r2 = r2_score(y_test,y_pred)
  print(f"\nR2 Square: {r2}")

  print("\n\n")

MSE: 13.362792426215277

RMSE: 1.4673155897634352e+23

MEA: 248453238494.1804

MDEA: 177850532411.54532

R2 Square: -9.641628012690677e+21




MSE: 13.362792426215277

RMSE: 1.680343647197132e+26

MEA: 6787196061032.613

MDEA: 2371786852797.297

R2 Square: -7.592234603213456e+24




MSE: 13.362792426215277

RMSE: 1.3527135520897955e+27

MEA: 23310506082286.555

MDEA: 10849741258028.574

R2 Square: -6.580759025241402e+25




MSE: 13.362792426215277

RMSE: 35.29051661057217

MEA: 4.512132231514312

MDEA: 3.3000000000000016

R2 Square: -0.8061361295816729

## Encoding of features

In [ ]:
data2 = arff.loadarff('/content/drive/MyDrive/Behavior of the urban traffic.arff')
data2 = pd.DataFrame(data2[0])

In [ ]:
data2['Hour'].replace([b'7:00',b'7:30',b'8:00',b'8:30',b'9:00',b'9:30',b'10:00',b'10:30',b'11:00',b'11:30',b'12:00',b'12:30',b'13:00',b'13:30',b'14:00',b'14:30',b'15:00',b'15:30',b'16:00',b'16:30',b'17:00',b'17:30'],'day',inplace=True)
data2['Hour'].replace([b'18:00', b'18:30',b'19:00',b'19:30',b'20:00'],'night',inplace=True)

In [ ]:
data2

      Hour  ...  Slowness_in_traffic_percent
0      day  ...                          4.1
1      day  ...                          6.6
2      day  ...                          8.7
3      day  ...                          9.2
4      day  ...                         11.1
..     ...  ...                          ...
130  night  ...                         17.8
131  night  ...                         18.1
132  night  ...                         17.7
133  night  ...                         17.4
134  night  ...                         12.1

[135 rows x 18 columns]

In [ ]:
X = data2.iloc[:,:-1]

In [ ]:
X

      Hour  Immobilized_bus  ...  Semaphore_off  Intermittent_Semaphore
0      day              0.0  ...            0.0                     0.0
1      day              0.0  ...            0.0                     0.0
2      day              0.0  ...            0.0                     0.0
3      day              0.0  ...            0.0                     0.0
4      day              0.0  ...            0.0                     0.0
..     ...              ...  ...            ...                     ...
130  night              1.0  ...            0.0                     0.0
131  night              0.0  ...            0.0                     0.0
132  night              1.0  ...            0.0                     0.0
133  night              0.0  ...            1.0                     0.0
134  night              0.0  ...            0.0                     0.0

[135 rows x 17 columns]

In [ ]:
Y = data2.iloc[:,-1:]

In [ ]:
Y

     Slowness_in_traffic_percent
0                            4.1
1                            6.6
2                            8.7
3                            9.2
4                           11.1
..                           ...
130                         17.8
131                         18.1
132                         17.7
133                         17.4
134                         12.1

[135 rows x 1 columns]

In [ ]:
X = pd.get_dummies(X,columns = ['Hour'])

In [ ]:
cols=X.columns

for i in cols:
  X[i]=minmax_scale(X[i])

In [ ]:
X

     Immobilized_bus  Broken_Truck  ...  Hour_day  Hour_night
0               0.00           0.0  ...       1.0         0.0
1               0.00           0.0  ...       1.0         0.0
2               0.00           0.0  ...       1.0         0.0
3               0.00           0.0  ...       1.0         0.0
4               0.00           0.0  ...       1.0         0.0
..               ...           ...  ...       ...         ...
130             0.25           0.0  ...       0.0         1.0
131             0.00           0.0  ...       0.0         1.0
132             0.25           0.0  ...       0.0         1.0
133             0.00           0.8  ...       0.0         1.0
134             0.00           0.0  ...       0.0         1.0

[135 rows x 18 columns]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=0.8, shuffle=False)

In [ ]:
poly = PolynomialFeatures(degree = 2)

In [ ]:
X_poly = poly.fit_transform(x_train)

In [ ]:
poly.fit(x_train,y_train)

PolynomialFeatures()

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_poly, y_train)

LinearRegression()

In [ ]:
y_pred = model.predict(poly.fit_transform(x_test))

In [ ]:
print(f"\nMSE: {mse}")
rmse = mean_squared_error(y_test,y_pred)
print(f"\nRMSE: {rmse}")
mea = mean_absolute_error(y_test,y_pred)
print(f"\nMEA: {mea}")
mdea = median_absolute_error(y_test,y_pred)
print(f"\nMDEA: {mdea}")
r2 = r2_score(y_test,y_pred)
print(f"\nR2 Square: {r2}")

MSE: 13.362792426215277

RMSE: 39.808799682774904

MEA: 4.693228470332717

MDEA: 3.651072621002683

R2 Square: -1.615808356775621